<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Order Confirmation></title>
  </head>
  <body>
    <h1><Thank you for your orderðŸˆâ™¬></h1>
      <p>Your order has been successfully completed.</p>
        <ul>
        </ul>
      <p>We look forward to serving you again soonðŸ’›âœ¨</p>
  </body>
</html>

