<h1>All Orders</h1>

<% @orders.each do |order| %>
  <div>
  <p><strong>Count</strong> <%= order.count %></p>
  <p><strong>Address:</strong> <%= order.address %></p>
  <p><strong>Book ID:</strong> <%= order.id %></p>
  </div>
<% end %>
