<p style="color: green"><%= notice %></p>

<%= render @book %>

<p>
  <strong>タグ</strong>
  <%= @book.tags.map(&:name).join(', ') %>
</p>

<div> 
  <%= link_to "Back to books", products_path %>
</div>
